.section {
  border-bottom: 1px solid #000;
  padding: 24px 0;
  max-width: calc(100% - 160px);
  &--last {
    max-width: 100%;
  }

  &__list {
    width: 100%;
  }
  &__item {
    @include flex-row(space-between);
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__value {
    font-weight: 500;
    &--col {
      flex: 1 0 200px;
    }
  }
  &__wrapper {
    @include flex-row;
  }
  &__input {
    @extend %input;
    &--trades {
      max-width: 40px;
      margin: 0 6px;
    }
    &--level {
      margin-left: 20px;
      flex: 1 0 200px;
    }
  }
}